<h1>Block Sample</h1>

{% schema %}
  {
    "name": "t:sections.block-sample.name",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Sample Text",
        "label": "t:sections.block-sample.settings.title.label"
      }
    ],
    "presets": [
      {
        "name": "t:sections.block-sample.presets.name"
      }
    ]
  }
{% endschema %}
