{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

<div class="template-article">
  <div class="container">
    <div class="card">

      <div class="card-body">
        <h1 class="card-title fs-2">{{ article.title | escape }}</h1>

        <h6 class="card-subtitle mb-3 text-muted">
          Published at
          {{ article.published_at | date: format: 'abbreviated_date' }}
        </h6>

        <div class="card-text">{{ article.content }}</div>
      </div>
    </div>
  </div>
</div>