/* Simple Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Colors */
@import "./base-colors.css";

/* Header */
@import "./base-header.css";

/* Buttons */
@import "./base-buttons.css";