:root,
.color-background-1 {
  --color-foreground: var(--color-base-text);
  --color-background: var(--color-base-background-1);
  --gradient-background: var(--gradient-base-background-1);
  --color-link: var(--color-base-outline-button-labels);
  --alpha-link: 0.85;
  --color-button: var(--color-base-accent-1);
  --color-button-text: var(--buttonColor);
  --alpha-button-background: 1;
  --alpha-button-border: 1;
  --color-badge-background: var(--color-background);
  --color-badge-border: var(--color-foreground);
  --alpha-badge-border: 0.1;
  --color1: red;
}
