.page-title {
  border: 1px solid red;
}

.main-page-title {
  margin-bottom: 3rem;
}

/*Media Queries*/

/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* For TV Screens & Projectors */
@media (min-width: 2000px) {}